@media screen and (max-width: 320px) {

    /* inicio */
    .container-i {
        margin-top: 0;
        padding: 0;
    }

    .img-i {
        height: 200px;
    }

    .botones-i button {
        width: 90px;
        height: 40px;
        font-size: 12px;
    }

    .titulo-i {
        padding: 5px;
        font-size: 20px;
    }

    .subtitulo-i {
        font-size: 25px;
        padding: 5px;
    }

    .parrafo-i {
        padding: 5px;
        font-size: 20px;
    }

    /* sobre mi */
    .img-s {
        width: 150px;
        height: 200px;
    }

    .texto-s {
        font-size: 13px;
    }

    .titulo-s {
        font-size: 18px;
    }

    .card-s {
        margin-bottom: 20px;
    }

    /* proyectos */

    .proyectos-row {
        display: flex;
        flex-direction: column;
    }

    /* habilidades */
    .container-h {
        display: flex;
        flex-direction: column;
    }

    .table {
        color: white;
    }

    .table th {
        padding: 20px;
        color: #ffffff;
    }

    .boton-h {
        background-color: #E94560;
        border: none;
        transition: transform .4s;
        width: 100px;
        height: 50px;
        border-radius: 5px;
    }

    /* contacto */

    .main-c {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    .form {
        width: 16rem;
        height: 350px;
    }

    .form div {
        padding: 5px;
    }

    .form h2 {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .form input {
        font-size: 12px;
    }

    .form label {
        font-size: 12px;
    }

    .form textarea {
        height: 40px;
        width: 150px;
        padding: 5px;
    }

    .form button {
        width: 60px;
        height: 40px;
        font-size: 12px;
    }

    .contacto2 {
        width: 16rem;
        height: 350px;
        margin-bottom: 20px;
    }

    .img-c {
        padding: 20px;
        height: 250px;
        width: 100%;
        max-width: 400px;
    }

    .iconos img {
        height: 18px;
        padding: 2px;
        display: block;
    }

    .texto-iconos p {
        font-size: 11px;
        margin: 4px;
    }

}

@media screen and (max-width: 500px) {

    /* inicio */
    .botones-i{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .botones-i button {
        margin-bottom: 15px;
    }

    /* sobremi */

    .card-s{
        margin-bottom: 15px;
    }
    /* proyectos */

    .proyectos-row {
        display: flex;
        flex-direction: column;
    }

    /* contacto */

    .main-c {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .form {
        margin-bottom: 20px;
        height: 400px;
        width: 300px;
    }

    .form textarea {
        height: 50px;
        width: 150px;
    }

    .form button {
        width: 60px;
        height: 40px;
        font-size: 12px;
    }

    .contacto2 {
        height: 400px;
        width: 300px;
        margin-bottom: 20px;
    }

    .iconos img {
        height: 18px;
        padding: 2px;
        display: block;
    }

    .texto-iconos p {
        font-size: 11px;
        margin: 4px;
    }


}

@media screen and (max-width: 700px) {

    /* sobremi */
    .card-s{
        margin-bottom: 15px;
    }

    /* contacto */
    .main-c {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .contacto2 {
        margin-bottom: 20px;
    }
    .form{
        margin-bottom: 20px;
    }

}